/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/seeds/oauth_clientsSeeder.php
/database/seeds/oauth_personal_access_clientsSeeder.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
